.image-container {
    border: 2px white solid;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-shadow: 0 0 4px #0d6efd,
        0 0 7px #0d6efd;
}

.image {
    max-height: 100%;
    max-width: 100%;
}