body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: retro;
  font-style: normal;
  font-weight: normal;
  src: url('../public/font/PixeloidSans-mLxMm.ttf') format('truetype');
}

@font-face {
  font-family: neon;
  font-style: normal;
  font-weight: normal;
  src: url('../public/font//neon.ttf') format('truetype');
}

@font-face {
  font-family: retro;
  font-style: normal;
  font-weight: bold;
  src: url('../public/font/PixeloidSansBold-PKnYd.ttf') format('truetype');
}